h1{
    color:brown;
    margin-left: 30px;
}

/*.header *{
    border:solid;
}*/

.header{
    background-color: aqua;
    display:flex;
    justify-content: space-between;
    /*leave space between elements in the page*/
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /*leave space evenly between different elements*/
}

.footer{
    display:flex;
    justify-content: flex-end;
    /* itsngoing to place elements at end of the page*/
}

p,h2{
    text-align:center;
}

body{
    background-color: #f1f1f1;
}
a:link{
    color:cadetblue;
}
a:visited{
    color:crimson;
}
.menu {
    margin-right:30px;
}
.menu a {
    margin-left: 20px;
}
.item{
    position:relative;
}
.item p{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity:0
}
.item:hover p{
opacity: 1;
}
.item:hover img{
    opacity: 0.33;
}